 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de nosotros</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Somos un grupo de profesionales que ante la creciente demanda de desarrollo de proyectos de ingeniería, tuvimos la vision de crear una empresa que ayude a los pequeños y medianos empresarios a desarrollar sus propios productos de innovacion y cumplir sus sueños. </p>
                </div>
                <div class="col-lg-4">
                    <p>Nosotros tenemos el conocimiento, tú las ideas. Cambiemos el pais juntos generando industria de alta tecnologia.</p>
                </div>
            </div>
        </div>
    </section>
